{% extends 'base.html' %}

{% block content %}


    <div class="container px-4 px-lg-5 mt-3">

        <h2>Корзина</h2>

        

    </div>

    






{% if products %}

        <div class="container px-4 px-lg-5 mt-5">
          
          <section class="w-100 px-3 py-5" style="background-color: #eee; border-radius: .5rem .5rem 0 0;">
            <div class="row d-flex justify-content-center">
              <div class="col-xl-11">
      
                <!-- <div class="d-flex justify-content-between align-items-center mb-4">
                  <h3 class="fw-normal mb-0 text-black">Shopping Cart</h3>
                </div> -->
                
                {% for product in products %}
                <div class="card rounded-3 mb-4">
                  <div class="card-body p-4">
                    <div class="row d-flex justify-content-between align-items-center">
                      <div class="col-md-2 col-lg-2 col-xl-2"> 
                        <!-- 177x153 -->
                        <img src="{{ product.product.image.url }}" class="img-fluid rounded-3" alt="{{ product.product.name }}">
                      </div>
                      <div class="col-md-3 col-lg-3 col-xl-3">
                        <p class="lead fw-normal mb-2">{{ product.product.name }}</p>
                        <p><span class="text-muted">{{ product.product.description }}</span></p>
                      </div>
                      <div class="col-md-3 col-lg-2 col-xl-2">
                        <h5 class="mb-0 text-center">{{ product.price }} руб.</h5>
                      </div>
                      <div class="col-md-3 col-lg-3 col-xl-2">
                        <h5 class="mb-0 text-center">{{ product.qty }} шт.</h5>
                      </div>
                      <div class="col-md-3 col-lg-2 col-xl-2">
                        {% load mathfilters %}
                        <h5 class="mb-0 text-center">{{ product.price|mul:product.qty }} руб.</h5>
                      </div>
                      <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                        <a data-id="{{ product.product.id }}" href="javascript:void(0)" class="text-danger action-delete-from-cart"><img src="/static/assets/bin.jpg" alt="Delete" /></a>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}


                <div class="card rounded-3 mb-4">
                  <div class="card-body p-4">
                    <div class="row d-flex justify-content-between align-items-center">
                      <div class="col-md-2 col-lg-2 col-xl-2"> 
                      </div>
                      <div class="col-md-3 col-lg-3 col-xl-3">
                      </div>
                      <div class="col-md-3 col-lg-2 col-xl-2">
                      </div>
                      <div class="col-md-3 col-lg-3 col-xl-2">
                        <h5 class="mb-0 text-center">Итого:</h5>
                      </div>
                      <div class="col-md-3 col-lg-2 col-xl-2">
                        <h5 class="mb-0 text-center" style="color: red;">{{ total }} руб.</h5>
                      </div>
                      <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                      </div>
                    </div>
                  </div>
                </div>
                


                <div class="card">
                  <div class="card-body p-4">
                        <form action="/cart_submit" method="POST">

                          {% csrf_token %}

                          <label class="form-label" style="margin-left: 0px;">Имя</label>
                          <input type="text" class="form-control form-control-lg" name="name">
                          <br/>

                          <label class="form-label" style="margin-left: 0px;">Адрес</label>
                          <input type="text" class="form-control form-control-lg" name="address">
                          <br/>

                          <label class="form-label" style="margin-left: 0px;">Телефон</label>
                          <input type="text" class="form-control form-control-lg" name="phone">
                          <br/>

                          <input type="hidden" name="action" value="submit" />
                          <button type="sbmit" class="btn btn-warning btn-block btn-lg">Создать заказ</button>
                        </form>
                  </div>
                </div>
      
              </div>
            </div>
          </section>
        
          
        </div>
{% else %}

<div class="container px-4 px-lg-5 mt-3">

  <h3 class="">Ваша корзина пуста :-(</h3>

  

</div>  

{% endif %}

{% endblock content %}